{% load static %}
<!DOCTYPE html>
<html lang="zxx">

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>index</title>

        {% include "base/base_head_css.html" %}
	</head>


	<body>

        <!-- include the top and back button -->
        {% include "base/base_top_and_back.html" %}

        <!-- include the head link section -->
        {% include "base/base_head_section.html" %}

        <!-- include the picture under the head section -->
        {% include "base/base_blog_slider_section.html" %}

        <!-- include the lifestyle section -->
        {% include "base/base_daily_lifestyle.html" %}

        {% block blog_section %}
		<!-- ==================== blog-section start ==================== -->
		<section id="blog-section" class="blog-section w100dt mb-50">
			<div class="container">
				<div class="row">
                     <div class="col s12 m8 l8">
                    {% block article_block %}
                        <!-- colm8 -->
                    {% endblock %}
                      </div>

                    <!-- all right side bars are included in this html -->
                    {% include "base/base_sidebar_section.html" %}

				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</section>
		<!-- /#blog-section -->
		<!-- ==================== blog-section end ==================== -->
        {% endblock %}


        <!-- Find us section -->
        {% include "base/base_instag_leftram_section.html" %}
        {% include "base/base_footer_section.html" %}
        {% include "base/base_footer_css_section.html" %}

	</body>

</html>