{% load static %}
{% block head_section %}
 <script type="text/javascript">
    window.onload=function(){
        alert_loginstatus()

    }
    function alert_loginstatus(){
        var login_status = {{ login_status }}
        {#alert(login_status)#}
        if (login_status== '1'){
            document.getElementById("login_status").style.display ="none";
            document.getElementById("login_username").style.display ="block";
        }else{
            document.getElementById("login_status").style.display ="block";
            document.getElementById("login_username").style.display ="none";
        }

    }

    function f_logout(){

        AjaxUtil.request({
				url:"{% url "logout" %}",
				params:{},
				type:'json',
				callback:alert_loginstatus,
			});
    }
 </script>
<!-- ==================== header-section Start ==================== -->
<header id="header-section" class="header-section w100dt navbar-fixed">

    <nav class="nav-extended main-nav">
        <div class="container">
            <div class="row">
                <div class="nav-wrapper w100dt">

                    <div class="logo left">
{#                        <a href="{% url 'login' %}" class="brand-logo">#}
{#                        <a href="javascript:alert_loginstatus()" class="brand-logo">#}
                        <div class="" style="pading:15px;">
{#                            <img src="{% static 'img/blank.png' %}" alt="brand-logo">#}
                            <div id="login_status" style="width:93px;height:35px;z-indent:2;left:0;top:0;color:black;padding: 12% ;size:1px;">
{#                            LOGIN#}
                                <a href="{% url 'login' %}" style="color:black;float:left">LOGIN</a>
{#                                <span>/</span>#}
                                <a href="{% url 'register' %}" style="color:black">REGISTER</a>
                            </div>
                            <div id="login_username" style="width:93px;height:35px;z-indent:2;left:0;top:0;color:black;padding: 6% ;">
                            {{ username }}  <a href="{% url 'logout' %}" style="color:black">LOGOUT</a>
                            </div>
                        </div>
{#                        </a>#}
                    </div>
                    <!-- logo -->

                    <div>
                        <a href="#" data-activates="mobile-demo" class="button-collapse">
                            <i class="icofont icofont-navigation-menu"></i>
                        </a>
                        <ul id="nav-mobile" class="main-menu center-align hide-on-med-and-down">
                            <li class="active"><a href="{% url 'blog' %}">HOME</a></li>
                            <li><a href="{% url 'catetory'%}">CATEGORIES</a></li>
                            <li class="dropdown">
                                <a href="#">PAGES <i class="icofont icofont-simple-down"></i></a>
                                <ul class="dropdown-container">
                                    <li><a href="{% url 'error'  %}">404 PAGE</a></li>
                                </ul>
                                <!-- /.dropdown-container -->
                            </li>
                            <li><a href="{% url 'single_blog' '1' %}">BLOG SINGLE</a></li>
                            <li><a href="{% url 'contact'  %}">CONTACT</a></li>
                        </ul>
                        <!-- /.main-menu -->

                        <!-- ******************** sidebar-menu ********************-->
                        <ul class="side-nav" id="mobile-demo">
                            <li class="snavlogo center-align"><img src="{% static 'img/logo.png' %}" alt="logo"></li>
                            <li class="active"><a href="{% url 'blog'%}">HOME</a></li>
                            <li><a href="{% url 'catetory' %}">CATEGORIES</a></li>
                            <li><a href="{% url 'single_blog' '1' %}">SINGLE BLOG</a></li>
                            <li><a href="{% url 'contact' %}">CONTACT</a></li>
                            <li><a href="{% url 'error'  %}">404 PAGE</a></li>
                        </ul>
                    </div>
                    <!-- main-menu -->


                    <!-- login icon
                    <div id="myLoginStatus" class="overlay">
                        <a href="#" class="closebtn">&times;</a>
                        <div class="overlay-content">
                           <span>Login</span>
                        </div>
                    </div>
                    -->

                    <a href="#" class="search-trigger right">
                        <i class="icofont icofont-search"></i>
                    </a>
                    <!-- search -->
                    <div id="myNav" class="overlay">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <div class="overlay-content">

                            <form>
                                <input type="text" name="search" placeholder="Search...">
                                <br>
                                <button class="waves-effect waves-light" type="submit" name="action">Search</button>
                            </form>
                        </div>
                    </div>


                </div>
                <!-- /.nav-wrapper -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </nav>

</header>
<!-- /#header-section -->
<!-- ==================== header-section End ==================== -->
{% endblock %}