{% load static %}
{% block daily_lifestyle %}
    <!-- ==================== daily-lifestyle-section Start ==================== -->
    <section id="daily-lifestyle-section" class="daily-lifestyle-section mb-50">
        <div class="container">

            <div class="owl-carousel small-carousel owl-theme">


                <div class="item">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{% static 'img/img1.jpg' %}" alt="Image">
                            <span class="effect"></span>
                        </div>
                        <!-- /.card-image -->
                        <div class="card-stacked">
                            <div class="card-content">
                                <a href="#" class="tag left l-blue mb-10">Fashion</a>
                                <a href="{% url 'single_blog' '1' %}" class="sm-name">Trud Exercitation EllaMcop Saboris</a>
                            </div>
                            <!-- /.card-content -->
                            <div class="card-action">
                                <p class="hero left">
                                    BY - <a href="#" class="l-blue">SujonMaji</a>
                                </p>
                                <ul class="post-mate right">
                                    <li>
                                        <a href="#" class="m-0"><i class="icofont icofont-comment"></i> 32</a>
                                    </li>
                                </ul>
                                <!-- /.post-mate -->
                            </div>
                            <!-- /.card-action -->
                        </div>
                        <!-- /.card-stacked -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.item -->

            </div>
            <!-- /.small-carousel -->
        </div>
        <!-- container -->
    </section>
    <!-- /#daily-lifestyle-section -->
    <!-- ==================== daily-lifestyle-section End ==================== -->
{% endblock %}