{% load static %}
{% block footer_css_section %}
    <!-- my custom js -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.serializejson.min.js' %}"></script>

    <!-- my custom js -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <script type="text/javascript">
    </script>
{% endblock %}