<script type="text/javascript">
var AjaxUtil = {
    //基础选项
    options: {
        method: "get", // 默认的提交方法 get post
        url: "", // 请求的路径 required
        params: {}, // 请求的参数,json 格式(format)
        type: 'text', // 返回的内容类型,text,xml,json
        callback: function () {
            // 回调函数 required

        }
    },

    //创建XMLHttpRequest对象
    createRequest: function () {
        var xmlhttp;
        try {
            xmlhttp = new ActiveXObject("MsXML2.XMLHTTP"); // IE6 以上的版本
        } catch (e) {
            try {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP"); // IE6 以下版本
            } catch (e) {
                try {
                    xmlhttp = new XMLHttpRequest();
                    if (xmlhttp.overrideMimeType) {
                        xmlhttp.overrideMimeType("text/xml");
                    }
                } catch (e) {
                    alert("Your browser does not support ajax!");
                }
            }
        }
        return xmlhttp;
    },

    //设置基础选项
    setOptions: function (newOptions) {
        for (var pro in newOptions) {
            this.options[pro] = newOptions[pro];
        }
    },

    //格式化请求参数
    formatParameters: function () {
        var paramsArray = [];
        var params = this.options.params;
        for (var pro in params) {
            var paramValue = params[pro];
            if (this.options.method == "GET") {
                paramValue = encodeURIComponent(params[pjo]);
            }
            paramsArray.push(pro + "=" + paramValue);
        }
        return paramsArray.join("&");
    },

    //状态改变的处理
    readystatechange: function (xmlhttp) {
        //获取返回值
        var returnValue;
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            switch (this.options.type) {
                case "xml":
                    // xml 格式的返回值需要使用 responseXML 来获取
                    returnValue = xmlhttp.responseXML;
                    break;
                case "json":
                    var jsonText = xmlhttp.responseText;
                    if (jsonText) {
                        {#alert(jsonText);#}
                        returnValue = eval("(" + jsonText + ")");
                    }
                    break;
                default :
                    // 其他默认的数据，直接使用 responseText 来获取即可
                    returnValue = xmlhttp.responseText;
                    break;
            }
            if (returnValue) {
                this.options.callback.call(this, returnValue);
            } else {
                this.options.callback.call(this);
            }
        }
    },

    // 发送 ajax 请求：
    // {method : 'GET'}
    request: function (options) {
        var ajaxObj = this;

        // 设置参数
        ajaxObj.setOptions.call(ajaxObj, options);

        // 创建 XMLHttpRequest 对象
        var xmlhttp = ajaxObj.createRequest.call(ajaxObj);

        // 设置回调函数
        xmlhttp.onreadystatechange = function () {
            ajaxObj.readystatechange.call(ajaxObj, xmlhttp);
        }

        // 格式化参数
        var formatParams = ajaxObj.formatParameters.call(ajaxObj);

        // 请求的方式
        var method = ajaxObj.options.method;
        var url = ajaxObj.options.url;

        if ("GET" == method.toUpperCase()) {
            {#url = url + "?" + formatParams;#}
            if (formatParams!=null){
				url = url + "?" + formatParams ;
			}
        }

        // 建立连接
        xmlhttp.open(method, url, true);
        if ("GET" == method.toUpperCase()) {
            xmlhttp.send(null);
        } else if ("POST" == method.toUpperCase()) {
            // 如果 POST 提交， 设置请求头信息
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlhttp.send(formatParams);
        }
    }
};


</script>